{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-2 gap-4 mb-2">
            {% for solution in solutions %}
                <twig:Solution day="{{ solution.getDay }}"/>
            {% endfor %}
        </div>
    </div>
{% endblock %}
